<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Restaurants</title>
</head>

<body>

    <%- include("../partial/navbar") %>

    <h1>All Restaurants</h1>
    
    <%for(let oneRestaurant of restaurants){%>
        <a href="/restaurants/<%=oneRestaurant.id%>"> <%=oneRestaurant.name%> </a>
        <%if(!oneRestaurant.isOpen){%>
         - <span style="color: red;">Closed</span>
    <%}%>
    <br>
    <%}%>

</body>
</html>