<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Home</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

    <%- include("../partial/navbar") %>

        <h1>Welcome to <span class="logo-name"><span style="color: #E33441;">Eat</span><span
                    style="color: #FABE1E;">Fast</span></span></h1>

        <p>Fastest food delivery in Bahrain. Your food arrives hot and fresh (Guaranteed)!</p>

        <div class="to-res"><a href="/restaurants">See Our Restaurants&nbsp;&nbsp;&nbsp;🡢</a></div>

</body>

</html>