<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Home</title>
</head>

<body>
    
    <%- include("../partial/navbar") %>

    <h1>Welcome to EatFast</h1>

    <p>Fastest food delivery in Bahrain. Your food arrives hot and fresh (Guaranteed)!</p>

    <a href="/restaurants">See Our Restaurants</a>

</body>
</html>