<nav>
    <div class="logo">
        <img class="logo-img" src="/EatFast-Logo.jpeg" alt="EatFast-Logo">
    </div>
    <div class="nav-side">
        <a href="/">Home</a>
        <span> | </span>
        <a href="/restaurants">Restaurants</a>
    </div>
</nav>